QLineEdit,



QPushButton {
    font-family: 'Courier';
    color: #F29F05;
    background-color: transparent;
    border: 3px solid #F29F05;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 800;
    line-height: normal;
    margin: 0;
    min-height: 25px;
    min-width: 70px;
    max-width: 110px;
    outline: none;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
}

Mama {
    font-family: 'Courier';
    color: #F29F05;
    background-color: transparent;
    border: 3px solid #F29F05;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 10px;
    min-width: 0;
    max-width: 70px;
    outline: none;
    padding: 13px 23px;
    text-align: center;
    text-decoration: none;
}


QTabWidget {
    font-size: 16px;
    font-weight: 600;
}

QCheckBox::indicator:checked,
QGroupBox::indicator:checked {
    image: url(design/checkbox-checked.svg);
    max-height: 10px;
}


QCheckBox::indicator:indeterminate,
QGroupBox::indicator:indeterminate {
    image: url(design/checkbox_checked_neg.svg);
    max-height: 10px;
}


QCheckBox::indicator:unchecked,
QGroupBox::indicator:unchecked {
    image: url(design/checkbox-unchecked.svg);
    max-height: 10px;
}

QCheckBox::indicator {
    width: 25px;
    height: 25px;
}

QCheckBox {
    line-height: 14px;
    background-color: transparent;
    spacing: 5px;
    font-size: 16px;
}

QLabel {
    font-family: Monospace;
    font-size: 18px;
}


QSlider::groove:horizontal {
    border: 0px solid #393939;
    height: 10px;
    border-radius: 4px;
}

QSlider::handle:horizontal {
    background-color: #F29F05;
    border: 2px solid #F29F05;
    width: 16px;
    height: 20px;
    line-height: 20px;
    margin-top: -5px;
    margin-bottom: -5px;
    border-radius: 10px;
}

QSlider::add-page {
    background: #393939;
    border-radius: 4px;
}



QSlider::sub-page {
    height: 5px;
    background: #F29F05;
    border-radius: 4px;
    border: 0px;
}